spring.application.name=sos-backend

spring.datasource.url=jdbc:postgresql://localhost:5432/nova_sos_db
spring.datasource.username=postgres
spring.datasource.password=CHANGE_ME
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

jwt.secret=CHANGE_ME_GENERATE_YOUR_OWN_SECRET
jwt.access-token-expiration-ms=1800000
jwt.refresh-token-expiration-ms=2592000000

server.port=8080